# LLM Provider Configuration
# Options: mock, gemini
LLM_PROVIDER=gemini

# Google Gemini API Key
# Required if LLM_PROVIDER=gemini
GEMINI_API_KEY=your_api_key_here

# Gemini Model Name
# The specific model version to use for completions
MODEL_NAME=choosen_model_name_here

# NER Model Name
PL_NER_MODEL_NAME=pl_core_news_lg

# API Keys
API_KEYS=[]

# Rate Limit
RATE_LIMIT_PER_MINUTE=60

# CORS
CORS_ORIGINS=["*"]
CORS_METHODS=["*"]
CORS_HEADERS=["*"]

# Debug mode
DEBUG=False

# Log file
LOG_FILE="./logs/app.log"
